---
title: Lemuel's Blog
date: '2023-01-14'
---
Hello World! This is my first blog post!

I have decided to start blogging because expressing oneself is an innate instinct. Facebook is dead, and Instagram lacks the capacity for detailed logos in paragraphs which you need for important discussions.

I would probably talk about findings and unique perspectives on things. Some personal experiences with life. Places that I have visited.


