---
import Lemuel from './../../images/lemuel.svg';
import BHKCoA from './../../images/bhk-coa.svg';
---

<section class="bg-primary">
    <div
        class="px-8 2xl:max-w-7xl mx-auto pt-12"
        data-aos="fade-up"
        data-aos-duration="2000"
    >
        <div class="flex justify-between items-center gap-6 sm:gap-12">
            <Lemuel class="max-w-xl"></Lemuel>
            <BHKCoA class="max-h-24 md:max-h-28 w-auto"></BHKCoA>
        </div>
    </div>
        
    </div>
</section>
<div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
        <div
            class="h-px bg-secondary"
            data-aos="fade-up"
            data-aos-duration="1000"
        >
        </div>
        <div
            class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
            data-aos="fade-up"
            data-aos-duration="1500"
        >
            <div class="flex gap-2 text-secondary">
                <p class="text-xs font-light">A Hongkonger</p>
                <p class="text-xs">in London</p>
            </div>
            <div>
                <ul
                    class="lg:items-center flex justify-between w-full gap-3 relative text-xs"
                >
                    <li>
                        <a
                            href="https://github.com/LemuelKL"
                            class="text-secondary">GitHub</a
                        >
                    </li><li>
                        <a
                            href="https://www.linkedin.com/in/lemuelkl/"
                            class="text-secondary">LinkedIn</a
                        >
                    </li><li>
                        <a
                            href="mailto:lemuellee.kl@gmail.com"
                            class="text-secondary">Email</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://blog.lemuellee.com"
                            class="text-secondary">Blog</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div
            class="h-0.5 bg-secondary"
            data-aos="fade-up"
            data-aos-duration="2000"
        >
        </div>
        <div
            class="h-1 bg-secondary"
            data-aos="fade-up"
            data-aos-duration="2500"
        >
        </div>
        <div
            class="h-1.5 bg-secondary"
            data-aos="fade-up"
            data-aos-duration="3000"
        >
        </div>
        <div
            class="h-2 bg-secondary"
            data-aos="fade-up"
            data-aos-duration="3000"
        >
        </div>
        <div
            class="h-2.5 bg-secondary flex items-end"
            data-aos="fade-up"
            data-aos-duration="3000"
            data-aos-delay="150"
        >
        </div>
    </div>
</div>
