---
import Skyline from './../../images/hk-skyline.svg';
---

<section class="bg-primary">
    <div class="px-8 2xl:max-w-7xl mx-auto flex flex-col gap-2">
        <Skyline class="w-full"></Skyline>
        <div class="flex justify-end"><a class="text-xs font-light text-secondary/10" href="https://www.vecteezy.com/free-vector/doodle">Doodle Vectors by Vecteezy</a></div>
    </div>
</section>
