<section class="bg-primary">
    <div class="px-8 2xl:max-w-7xl mx-auto py-6">
        <div
            class="grid grid-cols-1 grid-rows-2 lg:grid-cols-8 text-secondary gap-6 text-lg"
        >
            <div
                class="text-sm row-start-1 col-start-1 lg:col-start-2 lg:col-span-2"
                data-aos="fade-up"
                data-aos-duration="2000"
            >
                <p>
                    The great virtue of a free market system is that it does not
                    care what color people are; it does not care what their
                    religion is; it only cares whether they can produce
                    something you want to buy.
                </p>
            </div>
            <div
                class="row-start-2 lg:col-start-4 lg:col-span-3 text-sm text-left"
                data-aos="fade-up"
                data-aos-duration="3000"
            >
                <p>
                    Laissez faire et laissez passer, le monde va de lui même !
                </p>
            </div>
        </div>
    </div>
</section>
