---
title: KaTeX with MDsveX on Svelte
date: '2023-01-16'
published: true
---

This technical post shows you how to set up SvelteKit + MDsveX + KaTeX.

# Hi

The quadratic equation $ax^2+bx+c=0$ has roots

$$
x = \frac{-b \pm \sqrt{b^2-4ac}}{2a}
$$