@import 'tailwindcss';
@theme {
    --color-secondary: #fbfbfb;
    --color-primary: #0f0a01;
    --color-accent: #ffa500;
    /* 08327d */
}

/* CSS */
:root {
    /* Typography */
    font-feature-settings:
        'liga' 1,
        'calt' 1,
        /* Contextual Alternates */ 'dlig' 1,
        /* Discretionary Ligatures */ 'ss07' 1,
        /* fSquare punctuation */ 'ss08' 1,
        /* Square quotes */ 'zero' 1,
        /* Slashed zero */ 'tnum' 1,
        /* Tabular numbers */ 'cv03' 1,
        /* Open six */ 'cv04' 1,
        /* Open nine */ 'cv01' 1,
        /* Alternate one */ 'cv09',
        /* Flat-top three */ 'cv02' 1; /* Open 4 */
    font-family: Inter, sans-serif;
    font-variant-numeric: tabular-nums;
}
@supports (font-variation-settings: normal) {
    /* Use variable font if supported */
    :root {
        font-family: InterVariable, sans-serif;
    }
}

@font-face {
    font-family: 'CaladanFutura';
    src: url('/fonts/CaladanFutura-Regular-Book.woff2') format('woff2');
}
/* https://duneinfo.com/Content/fonts/caladanfutura/CaladanFutura-Regular-Book.woff2?v=9 */
.galach-font {
    font-family: 'CaladanFutura';
}

::selection {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

a {
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.5px;
    width: 100%;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.3s ease;
}

a:hover::after {
    opacity: 1;
}
