@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import 'tailwindcss';
@theme {
    --color-primary: #000000;
    --color-secondary: #fbfbfb;
    --color-accent: var(--color-red-600);
    --font-mono: "Jetbrains Mono", monospace;
    --font-sans-serif: "InterVariable", sans-serif;
}

/* CSS */
:root {
    /* Typography */
    font-feature-settings:
        'liga' 1,
        'calt' 1,
        /* Contextual Alternates */ 'dlig' 1,
        /* Discretionary Ligatures */ 'ss07' 1,
        /* fSquare punctuation */ 'ss08' 1,
        /* Square quotes */ 'zero' 1,
        /* Slashed zero */ 'tnum' 1,
        /* Tabular numbers */ 'cv03' 1,
        /* Open six */ 'cv04' 1,
        /* Open nine */ 'cv01' 1,
        /* Alternate one */ 'cv09',
        /* Flat-top three */ 'cv02' 1; /* Open 4 */
    font-family: InterVariable, sans-serif;
    font-variant-numeric: tabular-nums;
}
@supports (font-variation-settings: normal) {
    /* Use variable font if supported */
    :root {
        font-family: InterVariable, sans-serif;
    }
}

a {
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.5px;
    width: 100%;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.3s ease;
}

a:hover::after {
    opacity: 1;
}
