@import 'tailwindcss';
@theme {
    --color-primary: var(--color-white);
    --color-secondary: var(--color-black);
}

/* CSS */
:root {
    /* Typography */
    font-feature-settings:
        'liga' 1,
        'calt' 1,
        /* Contextual Alternates */ 'dlig' 1,
        /* Discretionary Ligatures */ 'ss07' 1,
        /* fSquare punctuation */ 'ss08' 1,
        /* Square quotes */ 'zero' 1,
        /* Slashed zero */ 'tnum' 1,
        /* Tabular numbers */ 'cv03' 1,
        /* Open six */ 'cv04' 1,
        /* Open nine */ 'cv01' 1,
        /* Alternate one */ 'cv09',
        /* Flat-top three */ 'cv02' 1; /* Open 4 */
    font-family: Inter, sans-serif;
    font-variant-numeric: tabular-nums;
}
@supports (font-variation-settings: normal) {
    /* Use variable font if supported */
    :root {
        font-family: InterVariable, sans-serif;
    }
}

::selection {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

a:hover {
    underline: none;
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
    text-decoration-thickness: 1px;
    /* animate */
    transition: text-decoration-color 0.3s ease-in-out, text-decoration-thickness 0.3s ease-in-out;
}
