---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import CV from '../components/CV.astro'
import Projects from '../components/Projects.astro'
---

<BaseLayout>
    <div>
        <Hero />
        <CV />
        <Projects />
        <footer
            class="text-xs py-8 px-8 2xl:max-w-7xl mx-auto flex justify-start gap-6 mt-48"
        >
            <p>&copy; {new Date().getFullYear()} Lemuel Lee</p>
            <p>
                Open Source on <a
                    href="https://github.com/LemuelKL/lemuellee.com"
                    target="_blank"
                >
                    GitHub
                </a>
            </p>
            <p>Hosted in U.S.A.</p>
            <p>
                Built with <a href="https://astro.build" target="_blank">
                    Astro
                </a>
                and <a href="https://tailwindcss.com" target="_blank">
                    Tailwind CSS
                </a>
            </p>
            <p>
                Images sourced from <a
                    href="https://territorystudio.com"
                    target="_blank">Territorystudio</a
                > and Blade Runner 2049
            </p>
        </footer>
    </div>
</BaseLayout>
