---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import CV from '../components/CV.astro'
import Projects from '../components/Projects.astro'
---

<BaseLayout>
    <div class="cursor-none">
        <div id="custom-cursor" class="mix-blend-difference"></div>
        <Hero />
        <CV />
        <Projects />
        <footer
            class="text-xs py-8 px-8 2xl:max-w-7xl mx-auto flex justify-start gap-6 mt-48"
        >
            <p>&copy; {new Date().getFullYear()} Lemuel Lee</p>
            <p>
                Open Source on <a
                    href="https://github.com/LemuelKL/lemuellee.com"
                    target="_blank"
                    class="cursor-none"
                >
                    GitHub
                </a>
            </p>
            <p>Hosted in U.S.A.</p>
        </footer>
    </div>
</BaseLayout>
