---
import { Image } from 'astro:assets'
import bWXMh1a9rVw from '../images/marek-pavlik-bWXMh1a9rVw-unsplash_L.webp'
---

<section class="relative mt-[20vh] h-[70vh] overflow-hidden">
    <Image
        src={bWXMh1a9rVw}
        alt="A brutalist building"
        class="absolute inset-0 w-full h-full object-cover"
        loading="eager"
    />

    <p
        class="absolute top-8 left-4 right-4 z-10 font-extralight
              text-7xl md:text-8xl lg:text-9xl leading-[0.9] text-white font-sans-serif"
    >
        REJECT COLLECTIVISM<br />
        EMBRACE RATIONAL SELF INTEREST
    </p>
</section>

<section
    class="grid grid-cols-6 lg:grid-cols-12 text-sm px-6 gap-6 text-white/70 hover:text-accent"
>
    <a
        target="_blank"
        href="https://github.com/LemuelKL"
        class="text-white/70 hover:text-accent"
    >
        GITHUB
    </a>
    <a
        target="_blank"
        href="https://www.linkedin.com/in/lemuelkl/"
        class="text-white/70 hover:text-accent"
    >
        LINKEDIN
    </a>
    <a
        target="_blank"
        href="mailto:lemuellee.kl@gmail.com"
        class="text-white/70 hover:text-accent"
    >
        EMAIL
    </a>
    <a
        target="_blank"
        href="https://blog.lemuellee.com"
        class="text-white/70 hover:text-accent"
    >
        BLOG
    </a>
    <a target="_blank" href="/cv" class="text-white/70 hover:text-accent">
        CV
    </a>
</section>
