---
import Lemuel from './../images/lemuel.svg'
---

<div class="px-8 2xl:max-w-7xl mx-auto">
    <div class="mt-6 space-y-2">
        <div
            class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
            data-aos="fade-up"
            data-aos-duration="1500"
        >
            <div class="flex gap-4 text-secondary">
                <p class="text-xs">Hongkonger</p>
                <p class="text-xs">Londoner</p>
                <p class="text-xs">Cantonese</p>
                <p class="text-xs">李氏</p>
                <p class="text-xs">לְמוּאֵל</p>
            </div>
            <div>
                <ul
                    class="lg:items-center flex justify-between w-full gap-4 relative text-xs"
                >
                    <li>
                        <a
                            href="https://github.com/LemuelKL"
                            class="text-secondary">GitHub</a
                        >
                    </li><li>
                        <a
                            href="https://www.linkedin.com/in/lemuelkl/"
                            class="text-secondary">LinkedIn</a
                        >
                    </li><li>
                        <a
                            href="mailto:lemuellee.kl@gmail.com"
                            class="text-secondary">Email</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://blog.lemuellee.com"
                            class="text-secondary">Blog</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="bg-primary">
    <div
        class="px-8 2xl:max-w-7xl mx-auto my-8"
        data-aos="fade-up"
        data-aos-duration="2000"
    >
        <div class="flex justify-between items-center gap-6 sm:gap-12">
            <Lemuel class="w-lg" />
        </div>
    </div>
</section>
