<section class="bg-primary">
    <div
        class="px-8 2xl:max-w-7xl mx-auto mb-64"
        data-aos="fade-up"
        data-aos-duration="5000"
    >
        <div class="grid grid-cols-4 gap-16">
            <div class="text-4xl font-extralight col-span-4 my-16">
                ABOUT LEMUEL LEE
            </div>
            <div class="col-start-1 col-span-1 mt-8 flex flex-col">
                <div class="flex flex-col gap-0 text-sm">
                    <a
                        class="mr-4 border-b border-b-secondary/30"
                        target="_blank"
                        href="https://github.com/LemuelKL">GitHub</a
                    >
                    <a
                        class="mr-4 border-b border-b-secondary/30"
                        target="_blank"
                        href="https://www.linkedin.com/in/lemuelkl/">LinkedIn</a
                    >
                    <a
                        class="mr-4 border-b border-b-secondary/30"
                        target="_blank"
                        href="mailto:lemuellee.kl@gmail.com">Email</a
                    >
                    <a
                        class="mr-4 border-b border-b-secondary/30"
                        target="_blank"
                        href="https://blog.lemuellee.com">Blog</a
                    >
                </div>
            </div>
            <div class="col-start-2 col-span-3 text-6xl mt-8 flex flex-col">
                <div>INTERSECTING COMPUTER SCIENCE, DATA SCIENCE, MACHINE LEARNING, FINANCE, ENERGY</div>
            </div>
        </div>
    </div>
</section>
