<p class="font-extralight text-7xl md:text-8xl lg:text-9xl">
    REJECT COLLECTIVISM EMBRACE RATIONAL SELF INTEREST
</p>

<section
    class="mt-24 px-8 2xl:max-w-7xl mx-auto mb-64 grid grid-cols-12 text-sm"
>
    <a target="_blank" href="https://github.com/LemuelKL"> GitHub </a>
    <a target="_blank" href="https://www.linkedin.com/in/lemuelkl/">
        LinkedIn
    </a>
    <a target="_blank" href="mailto:lemuellee.kl@gmail.com"> Email </a>
    <a target="_blank" href="https://blog.lemuellee.com"> Blog </a>
    <a target="_blank" href="/cv"> CV </a>
    <p class="col-start-7">London, UK</p>
</section>
