---
import Lemuel from './../images/lemuel.svg'
---

<div class="px-8 2xl:max-w-7xl mx-auto">
    <div class="mt-6 space-y-2">
        <div
            class="text-xs text-secondary"
            data-aos="fade-up"
            data-aos-duration="300"
        >
            <div class="grid grid-cols-4 md:grid-cols-8">
                <p>Hongkonger</p>
                <p>Londoner</p>
                <p>Cantonese</p>
                <p>Student</p>
                <a
                    class="mr-4 border-b border-b-secondary/30"
                    href="https://github.com/LemuelKL">GitHub</a
                >
                <a
                    class="mr-4 border-b border-b-secondary/30"
                    href="https://www.linkedin.com/in/lemuelkl/">LinkedIn</a
                >
                <a
                    class="mr-4 border-b border-b-secondary/30"
                    href="mailto:lemuellee.kl@gmail.com">Email</a
                >
                <a
                    class="mr-4 border-b border-b-secondary/30"
                    href="https://blog.lemuellee.com">Blog</a
                >
            </div>
        </div>
    </div>
</div>

<section class="bg-primary">
    <div
        class="px-8 2xl:max-w-7xl mx-auto mt-16"
        data-aos="fade-up"
        data-aos-duration="5000"
    >
        <div class="grid grid-cols-2 gap-4">
            <p class="text-8xl md:text-9xl font-light col-span-2">LEMUEL</p>
            <p class="col-start-2 col-end-2 text-sm">
                MSc student at Imperial, mixing computer science, quantitative
                finance, and energy.
            </p>
            <p class="col-start-2 col-end-2 text-sm">
                Interested in graph theory, compiled languages, history &
                geopolitics, urbanism, military technology, visual design, architecture, cyberpunk, human psychology, and more.
            </p>
        </div>
    </div>
</section>
