<p class="font-extralight text-7xl md:text-8xl lg:text-9xl">
    REJECT COLLECTIVISM EMBRACE RATIONAL SELF INTEREST
</p>

<section class="my-[25vh] grid grid-cols-6 lg:grid-cols-12 text-sm px-1">
    <a target="_blank" href="https://github.com/LemuelKL"> GitHub </a>
    <a target="_blank" href="https://www.linkedin.com/in/lemuelkl/">
        LinkedIn
    </a>
    <a target="_blank" href="mailto:lemuellee.kl@gmail.com"> Email </a>
    <a target="_blank" href="https://blog.lemuellee.com"> Blog </a>
    <a target="_blank" href="/cv"> CV </a>
</section>
