---
import { Image } from 'astro:assets'
import DdOrxWAY6cI from '../images/helena-lopes-bunLmHpu1hg-unsplash.jpg'
---

<section
    class="grid grid-cols-6 lg:grid-cols-12 text-sm px-6 gap-6 text-white/70 hover:text-accent"
>
    <Image
        src={DdOrxWAY6cI}
        alt="A brutalist building"
        class="h-[40vh] object-cover brightness-50 col-span-6 lg:col-span-9"
        loading="eager"
    />
    <a
        target="_blank"
        href="https://github.com/LemuelKL"
        class="text-white/70 hover:text-accent row-start-2 col-span-6 md:col-span-1"
    >
        GITHUB
    </a>
    <a
        target="_blank"
        href="https://www.linkedin.com/in/lemuelkl/"
        class="text-white/70 hover:text-accent row-start-3 md:row-start-2 col-span-6 md:col-span-1"
    >
        LINKEDIN
    </a>
    <a
        target="_blank"
        href="mailto:lemuellee.kl@gmail.com"
        class="text-white/70 hover:text-accent row-start-4 md:row-start-2 col-span-6 md:col-span-1"
    >
        EMAIL
    </a>
    <a
        target="_blank"
        href="https://blog.lemuellee.com"
        class="text-white/70 hover:text-accent row-start-5 md:row-start-2 col-span-6 md:col-span-1"
    >
        BLOG
    </a>
    <a
        target="_blank"
        href="/cv"
        class="text-white/70 hover:text-accent row-start-6 md:row-start-2 col-span-6 md:col-span-1"
    >
        CV
    </a>
</section>
