---
import { Image } from 'astro:assets'
import Blade_Runner_2049_Limo_and_Spinner_04 from '../images/Blade-Runner-2049-Limo-and-Spinner-04.gif'
---

<section class="bg-primary">
    <div class="px-8 2xl:max-w-7xl mx-auto mb-64">
        <div class="grid grid-cols-4 gap-y-24 gap-x-6">
            <div class="col-span-4 col-start-1"></div>
            <div
                class="col-span-1 pt-6 font-normal text-3xl md:text-4xl lg:text-7xl tracking-wider galach-font"
            >
                LEMUEL
            </div>
            <div
                class="col-start-2 col-span-3 pt-6 text-right md:text-sm text-xs font-light"
            >
                <script type="module" is:inline>
                    function getTimeInZone(timeZone) {
                        return new Date().toLocaleTimeString('en-GB', {
                            hour: '2-digit',
                            minute: '2-digit',
                            second: '2-digit',
                            hour12: false,
                            timeZone
                        })
                    }
                    function updateClocks() {
                        document.getElementById('nyc-clock').textContent =
                            getTimeInZone('America/New_York')
                        document.getElementById('lnd-clock').textContent =
                            getTimeInZone('Europe/London') // Handles BST/GMT
                        document.getElementById('hkg-clock').textContent =
                            getTimeInZone('Asia/Hong_Kong')
                    }
                    setInterval(updateClocks, 1000)
                    window.addEventListener('DOMContentLoaded', updateClocks)
                </script>
                <div class="flex flex-row justify-end gap-4">
                    <div class="flex flex-col">
                        <div>NYC 紐約</div><span id="nyc-clock">--:--:--</span>
                    </div>
                    <div class="flex flex-col">
                        <div>LND 倫敦</div><span id="lnd-clock">--:--:--</span>
                    </div>
                    <div class="flex flex-col">
                        <div>HKG 香港</div><span id="hkg-clock">--:--:--</span>
                    </div>
                </div>
            </div>

            <div
                class="flex flex-col text-sm font-light divide-y-1 divide-dotted w-full"
            >
                <div class="flex flex-col gap-0 mb-6 pb-6">
                    <a target="_blank" href="https://github.com/LemuelKL">
                        GitHub
                    </a>
                    <a
                        target="_blank"
                        href="https://www.linkedin.com/in/lemuelkl/"
                    >
                        LinkedIn
                    </a>
                    <a target="_blank" href="mailto:lemuellee.kl@gmail.com">
                        Email
                    </a>
                    <a target="_blank" href="https://blog.lemuellee.com">
                        Blog
                    </a>
                    <a target="_blank" href="/cv"> CV </a>
                </div>
                <div class="flex flex-col gap-0 mb-6 pb-6">
                    <div>Londoner</div>
                    <div>Hongkonger</div>
                </div>
                <div class="flex flex-col gap-0">
                    <div>Cantonese</div>
                    <div>English</div>
                    <div>Mandarin</div>
                </div>
            </div>
            <Image
                class="col-span-3 ml-auto"
                src={Blade_Runner_2049_Limo_and_Spinner_04}
                alt="Blade Runner 2049"
                loading="lazy"
            />
        </div>
    </div>
</section>
