---
import { Image } from 'astro:assets'
import hk_img from '../images/dan-freeman-ckxoFlEtlUc-unsplash.jpg'
---

<section class="bg-primary">
    <div class="px-2 lg:px-8 2xl:max-w-7xl mx-auto mb-64">
        <div class="grid grid-cols-3 md:grid-cols-4 gap-6">
            <div class="col-span-1 my-8 lg:my-16 pt-6">
                ABOUT <span class="text-accent">LEMUEL LEE</span>
            </div>
            <div
                class="col-start-4 my-8 lg:my-16 pt-6 text-right text-sm font-light"
            >
                <script type="module" is:inline>
                    function getTimeInZone(timeZone) {
                        return new Date().toLocaleTimeString('en-GB', {
                            hour: '2-digit',
                            minute: '2-digit',
                            second: '2-digit',
                            hour12: false,
                            timeZone
                        })
                    }
                    function updateClocks() {
                        document.getElementById('nyc-clock').textContent =
                            getTimeInZone('America/New_York')
                        document.getElementById('lnd-clock').textContent =
                            getTimeInZone('Europe/London') // Handles BST/GMT
                        document.getElementById('hkg-clock').textContent =
                            getTimeInZone('Asia/Hong_Kong')
                    }
                    setInterval(updateClocks, 1000)
                    window.addEventListener('DOMContentLoaded', updateClocks)
                </script>
                <div class="flex flex-row justify-end gap-4">
                    <div>NYC <span id="nyc-clock">--:--:--</span></div>
                    <div>LND <span id="lnd-clock">--:--:--</span></div>
                    <div>HKG <span id="hkg-clock">--:--:--</span></div>
                </div>
            </div>
            <Image
                src={hk_img}
                alt="Hong Kong"
                class="col-span-4 row-start-2"
                data-aos="fade-down"
                data-aos-duration="3000"
                loading="lazy"
            />
            <div
                class="col-start-1 col-span-1 flex flex-col"
                data-aos="fade-right"
                data-aos-duration={1500}
            >
                <div class="flex flex-col gap-0 text-sm font-extralight">
                    <a
                        class="border-b border-b-secondary/30 cursor-none"
                        target="_blank"
                        href="https://github.com/LemuelKL"
                    >
                        GitHub
                    </a>
                    <a
                        class="border-b border-b-secondary/30 cursor-none"
                        target="_blank"
                        href="https://www.linkedin.com/in/lemuelkl/"
                    >
                        LinkedIn
                    </a>
                    <a
                        class="border-b border-b-secondary/30 cursor-none"
                        target="_blank"
                        href="mailto:lemuellee.kl@gmail.com"
                    >
                        Email
                    </a>
                    <a
                        class="border-b border-b-secondary/30 cursor-none"
                        target="_blank"
                        href="https://blog.lemuellee.com"
                    >
                        Blog
                    </a>
                    <a
                        class="border-b border-b-secondary/30 cursor-none"
                        target="_blank"
                        href="/cv"
                    >
                        CV
                    </a>
                    <div class="opacity-0">a</div>
                    <div>Londoner</div>
                    <div>Hongkonger</div>
                    <div class="opacity-0">speaks</div>
                    <div>Cantonese</div>
                    <div>English</div>
                    <div>Mandarin</div>
                </div>
            </div>
            <div class="col-start-2 col-span-3 flex flex-col gap-6">
                <div
                    class="text-right uppercase text-4xl lg:text-6xl flex flex-col gap-8 lg:gap-12"
                >
                    <div data-aos="fade-left" data-aos-duration="1000">
                        Why do they always teach us that it's easy and evil to
                        do what we want and that we need discipline to restrain
                        ourselves
                    </div>
                    <div data-aos="fade-left" data-aos-duration="1000">
                        It's the hardest thing in the world — to do what we want
                    </div>
                    <div data-aos="fade-left" data-aos-duration="1000">
                        And it takes the greatest kind of courage
                    </div>
                    <div data-aos="fade-left" data-aos-duration="1000">
                        I mean, what we{' '}
                        <span class="text-accent">really want</span>
                    </div>
                </div>
                <div class="text-sm font-extralight">
                    ― The Fountainhead, Ayn Rand
                </div>
            </div>
        </div>
    </div>
</section>
