<div class="px-8 2xl:max-w-7xl mx-auto">
    <div class="mt-6 space-y-2">
        <div
            class="text-xs text-secondary"
            data-aos="fade-up"
            data-aos-duration="300"
        >
            <div class="grid grid-cols-4 md:grid-cols-6 gap-2 md:gap-0">
                <p class="row-start-1">Hongkonger</p>
                <p class="row-start-1">Londoner</p>
                <a
                    class="mr-4 border-b border-b-secondary/30 row-start-2 md:row-start-1"
                    target="_blank"
                    href="https://github.com/LemuelKL">GitHub</a
                >
                <a
                    class="mr-4 border-b border-b-secondary/30 row-start-2 md:row-start-1"
                    target="_blank"
                    href="https://www.linkedin.com/in/lemuelkl/">LinkedIn</a
                >
                <a
                    class="mr-4 border-b border-b-secondary/30 row-start-2 md:row-start-1"
                    target="_blank"
                    href="mailto:lemuellee.kl@gmail.com">Email</a
                >
                <a
                    class="mr-4 border-b border-b-secondary/30 row-start-2 md:row-start-1"
                    target="_blank"
                    href="https://blog.lemuellee.com">Blog</a
                >
            </div>
        </div>
    </div>
</div>

<section class="bg-primary">
    <div
        class="px-8 2xl:max-w-7xl mx-auto mt-16"
        data-aos="fade-up"
        data-aos-duration="5000"
    >
        <div class="grid grid-cols-2 gap-4">
            <div
                class="text-7xl md:text-9xl font-light col-span-2 md:grid md:grid-cols-6 flex justify-between"
            >
                <div
                    class="transition-transform transition-300 hover:scale-105"
                >
                    L
                </div>
                <div
                    class="transition-transform transition-300 hover:scale-105"
                >
                    E
                </div>
                <div
                    class="transition-transform transition-300 hover:scale-105"
                >
                    M
                </div>
                <div
                    class="transition-transform transition-300 hover:scale-105"
                >
                    U
                </div>
                <div
                    class="transition-transform transition-300 hover:scale-105"
                >
                    E
                </div>
                <div
                    class="transition-transform transition-300 hover:scale-105"
                >
                    L
                </div>
            </div>
            <p class="col-start-2 col-end-2 text-sm mt-8">
                MSc student at Imperial, mixing computer science, quantitative
                finance, and energy.
            </p>
            <p class="col-start-2 col-end-2 text-sm">
                Interested in graph theory, compiled languages, history &
                geopolitics, urbanism, military technology, visual design,
                architecture, cyberpunk, human psychology, and more.
            </p>
        </div>
    </div>
</section>
