<section class="bg-primary">
    <div
        class="px-8 2xl:max-w-7xl mx-auto mb-64"
        data-aos="fade-up"
        data-aos-duration="5000"
    >
        <div class="grid grid-cols-3 md:grid-cols-4 gap-6">
            <div class="font-extralight col-span-4 my-16">ABOUT LEMUEL LEE</div>
            <div class="col-start-1 col-span-1 flex flex-col">
                <div class="flex flex-col gap-0 text-sm font-extralight">
                    <a
                        class="border-b border-b-secondary/30"
                        target="_blank"
                        href="https://github.com/LemuelKL">GitHub</a
                    >
                    <a
                        class="border-b border-b-secondary/30"
                        target="_blank"
                        href="https://www.linkedin.com/in/lemuelkl/">LinkedIn</a
                    >
                    <a
                        class="border-b border-b-secondary/30"
                        target="_blank"
                        href="mailto:lemuellee.kl@gmail.com">Email</a
                    >
                    <a
                        class="border-b border-b-secondary/30"
                        target="_blank"
                        href="https://blog.lemuellee.com">Blog</a
                    >
                    <div class="opacity-50">a</div>
                    <div>Londoner</div>
                    <div>Hongkonger</div>
                    <div class="border-t border-t-secondary/30"></div>
                    <div class="opacity-50">speaks</div>
                    <div>Cantonese</div>
                    <div>English</div>
                    <div>Mandarin</div>
                </div>
            </div>
            <div class="col-start-2 col-span-3 flex flex-col">
                <div class="text-right uppercase text-4xl lg:text-6xl flex flex-col gap-8 lg:gap-12">
                    <div>
                        Why do they always teach us that it's easy and evil to
                        do what we want and that we need discipline to restrain
                        ourselves?
                    </div>
                    <div>
                        It's the hardest thing in the world — to do what we
                        want.
                    </div>
                    <div>And it takes the greatest kind of courage.</div>
                    <div>I mean, what we really want.</div>
                </div>
                <div class="text-sm font-extralight">
                    ― The Fountainhead, Ayn Rand
                </div>
            </div>
        </div>
    </div>
</section>
