---
import Lemuel from './../images/lemuel.svg'
---

<div class="px-8 2xl:max-w-7xl mx-auto">
    <div class="mt-6 space-y-2">
        <div
            class="text-xs text-secondary"
            data-aos="fade-up"
            data-aos-duration="300"
        >
            <div class="grid grid-cols-4 md:grid-cols-8 gap-4">
                <p>Hongkonger</p>
                <p>Londoner</p>
                <p>Cantonese</p>
                <p>Student</p>
                <a
                    class="border-b border-b-secondary/30"
                    href="https://github.com/LemuelKL">GitHub</a
                >
                <a
                    class="border-b border-b-secondary/30"
                    href="https://www.linkedin.com/in/lemuelkl/">LinkedIn</a
                >
                <a
                    class="border-b border-b-secondary/30"
                    href="mailto:lemuellee.kl@gmail.com">Email</a
                >
                <a
                    class="border-b border-b-secondary/30"
                    href="https://blog.lemuellee.com">Blog</a
                >
            </div>
        </div>
    </div>
</div>

<section class="bg-primary">
    <div
        class="px-8 2xl:max-w-7xl mx-auto mt-16"
        data-aos="fade-up"
        data-aos-duration="5000"
    >
        <div
            class="grid grid-cols-1 border-b border-b-secondary/20"
        >
            <Lemuel class="max-w-xl mb-16" />
            <p class="text-sm text-right">
                Western values and Cantonese work ethics
            </p>
        </div>
    </div>
</section>
