---
// SectionList.astro
const { title, data } = Astro.props
---

<section class="bg-primary">
    <div
        class="px-2 lg:px-8 2xl:max-w-7xl mx-auto lg:grid grid-cols-4 gap-10"
    >
        <div
            class="col-span-1 row-start-1 mb-6"
            data-aos="fade-up"
            data-aos-duration="1500"
        >
            <span class="font-extralight text-4xl">{title} </span>
        </div>
        <div
            class="row-start-1 col-start-2 col-span-3 flex flex-col justify-items-start text-secondary pb-2 mb-2"
        >
            {
                data.map((item, index) => (
                    <div
                        data-aos="fade-up"
                        data-aos-duration={1500}
                    >
                        <div class="grid lg:grid-cols-3 lg:gap-10 py-1">
                            <span class="hidden lg:block text-sm text-right">
                                {item.time}
                            </span>
                            <span class="text-sm">{item.organisation}</span>
                            <span class="text-sm">{item.title}</span>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
