---
type: activity
title: Algo Crypto Trading Challenge
organisation: ALGOGENE
summary: Finalist Python bot earned 53000% return.
tags:
- Algo Trading
date: '2023-01-01'
---

# Algo Crypto Trading Challenge