---
type: activity
title: Algo Crypto Trading Challenge
organisation: ALGOGENE
summary: Finalist Python bot earned 53000% return.
tags:
- Algo Trading
year: 2023
month: 1
---

# Algo Crypto Trading Challenge