---
type: work
id: ble-car
title: Remote Controlled Robotic Car
summary: Robotic arduino car controlled by Android app via Bluetooth LE.
tags:
- Robotics
- Arduino
- Android
date: '2017-07-01'
---

# Android & Arduino Remote Controlled Robotic Car