---
type: activity
title: Hackathon
organisation: Cathay Pacific
summary: Developed a React Native world map app to display COVID-19 tavel restrictions.
tags:
- App Development
year: 2021
month: 11
---

# Cathay Pacific Hackathon
