---
type: activity
title: Hackathon
organisation: Cathay Pacific
summary: Developed a React Native world map app to display COVID-19 tavel restrictions.
tags:
- App Development
date: '2021-11-01'
---

# Cathay Pacific Hackathon
