---
type: activity
title: EE Int. Summer Camp
organisation: City U, HK
summary: 4-week full-time international summer camp on Electronic Engineering and
  Computer Science.
tags:
- Robotic
- App Development
year: 2017
month: 8
---