---
type: activity
title: Code for Good
organisation: J.P. Morgan
summary: Developed a job shadowing web app.
tags:
- App Development
date: '2022-10-01'
---

# J.P. Morgan Code for Good

Developed a job shadowing web app for Junior Achievement.