---
type: activity
title: Electronic Trading Challange
organisation: Jane Street
summary: 1st runner-up in capital.
tags:
- Algo Trading
date: '2022-10-01'
---

# Jane Street Electronic Trading Challenge