---
type: work
title: Timetable Generator
organisation: Shatin Pui Ying College
summary: Web app for scheduling various school tasks
tags: ['Vue', 'Scheduling']
year: 2022
month: 8
---

# Timetable Generator