---
type: work
title: Timetable Generator
organisation: Shatin Pui Ying College
summary: Web app for scheduling various school tasks
tags: ['Vue', 'Scheduling']
date: '2022-08-01'
---

# Timetable Generator