---
type: work
title: E-ticketing System
organisation: 'Shatin Pui Ying College'
summary: 'Full stack system with multiple web apps: Administration, Mission Control, Admission'
tags: ['Vue', 'Quasar', 'Supabase']
date: '2022-08-01'
---

# E-ticketing System