---
type: activity
title: STEM Camp
organisation: Shatin Pui Ying College
summary: Organised a day camp for students from 16 visiting schools.
tags:
- Education
- Teamwork
date: '2019-04-01'
---

# STEM Camp 2019 - Shatin Pui Ying College