@import url('https://fonts.googleapis.com/css2?family=Sofia%20Sans:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
	background-size: 400%;

	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
	0%,
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}
