---
import BaseHead from '../components/BaseHead.astro'
---

<html lang="en" class="selection:bg-secondary selection:text-secondary">
    <head>
        <BaseHead />
    </head>

    <body class="bg-primary text-secondary">
        <slot />
        <script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script type="text/javascript">
            AOS.init()
            // Custom Cursor Movement
            const cursor = document.getElementById('custom-cursor')
            document.addEventListener('mousemove', (e) => {
                if (!cursor) return
                cursor.style.transform = `translate(${e.clientX}px, ${e.clientY}px)`
                // console.log(`Cursor position: ${e.clientX}, ${e.clientY}`)
            })
        </script>
    </body>
</html>
